@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
    font-family: "Bludhaven";
    src: url("./BLUDHAVEN.ttf") format("truetype");
}
body {
    height: 100%;
    background: #f5f5f5;
}
